.friendList {
  margin-top: 50px;
}
.transactionHistory {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  text-align: center;
}
.transactionHistory__header {
  background-color: blue;
}
.transactionHistory__item {
  padding-top: 10px;
  padding-bottom: 10px;

  color: #fff;
}
